.coriolis-npc .name {
  font-weight: bold;
}
.coriolis-npc .profession {
  font-weight: bold;
}
.coriolis-npc .characteristic {
  font-weight: bold;
}
.coriolis-npc .activity {
  font-weight: bold;
}

.coriolis-npc .motivation {
  font-weight: bold;
}
